.infoValue{
    width: 50%;
}
.infoValue img{
    width: 50%;
}

.infoContainer{
    width: 100%;
    padding-top: 2vh;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}